/build/
.gradle/
.idea/
.cxx/
.externalNativeBuild/
*.iml
*.hprof
*.log
*.lock
*.pyc
*.pyo
*.swp
*.swo
*.DS_Store
*.keystore
*.jks
*.class

/out/
/captures/
/node_modules/
.vscode/
/fastlane/report.xml
fastlane/report.xml

/app/build/
/**/build/
*.apk
*.aar
*.aab
/local.properties
/.cxx/
**/gradle.properties

/iosApp/.gradle/
/iosApp/build/
/iosApp/DerivedData/
*.xcworkspace
Pods/
Podfile.lock
*.xcframework
*.swiftpm

/**/bin/
/**/lib/
/**/*.klib
**/*.klib.metadata
**/*.klib.module
/**/*.module

/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.zip
/gradle/wrapper/dists/
gradlew
gradlew.bat
gradlew.cmd
/settings.gradle
/caches/
/kotlin/
/tmp/

*.env
*.properties
*.toml
*.json
/secrets/
config/
